@media only screen and (max-width:1025px) {
    .first-image {
        height: 400px
    }

    .second-image {
        height: 200px
    }

    .third-image {
        height: 200px
    }
}

@media only screen and (min-width:1025px) {
    .first-image {
        height: 600px
    }

    .second-image {
        height: 300px
    }

    .third-image {
        height: 300px
    }
}